@model CityLabAndHospital.Models.Db.Doctors

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h2> Doctors Details</h2>

<div class="table table-bordered table-striped">
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DoctorName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DoctorName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Qualification)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Qualification)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-success" asp-route-id="@Model.DoctorId">Edit</a> |
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">