@model CityLabAndHospital.Models.Db.CashReceiveMaster

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h4>Cash Receive Master</h4>

<h3>Are you sure you want to delete this?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InvestigationId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InvestigationId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PatientName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PatientName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="VoucherNo" />
        <input type="submit"  value="Delete" class="btn btn-primary" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">