@model CityLabAndHospital.Models.Db.InvestigationMaster

@{
    Layout = null;
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

<div class="table table-bordered table-striped">
    <h4>InvestigationMaster</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PatientName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PatientName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Guardian)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Guardian)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SlNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SlNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NetAmt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NetAmt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaidAmt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaidAmt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DueAmt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DueAmt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Doctor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Doctor.DoctorName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VoucherNo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
